body {
    /* background-color: blue; */
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    cursor:url('../img/sight.cur'), pointer;
}

cursor {
    opacity:0.4;
filter:alpha(opacity=40);
}

.screen1Section {
    background-color: black;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    .screen1Main {
        background-color: grey;
        height: 80%;
        width: 80%;

        border-style: solid;
        border-color: white;
        border-width: 1em;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
        .screen1MainBox {
            height: 80%;
            width: 75%;
            border-style: dotted;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
            .screen1MainBoxTitle {
                /* background-color: green; */
                height: 50%;
                width: 100%;
                font-family: 'Exoplanet', sans-serif;
                font-size: 5em;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            .screen1MainBoxSelection {
                /* background-color: rgb(236, 0, 0); */
                height: 50%;
                width: 100%;
                font-family: 'Hussar Woodtype', sans-serif;
                                                


                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

.screen2Section {
    background-color: black;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    .screen2Main {
        background-color: grey;
        height: 100vw;
        width: 98vw;

        border-style: solid;
        border-color: rgb(0, 0, 0);

        border-width: 1vw;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }   
        .screen2Title {
            font-family: 'ICBM SS-25', sans-serif;
            font-family: 'ICBM SS-20', sans-serif;
            font-size: 3vw;

            /* width: 1em; */
            color: white;
        }
        .screen2Characters{
            background-color: black;
            /* background-image: url(../img/brickPlayerTexture.png); */
            border-style: solid;
            border-width: 1%;
            border-color: black;
            height: 50%;
            width: 80%;

            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
        }
            .screen2CharacterDiv {
                /* border-style: double; */
                /* border-color: blue; */
                height: 90%;
                width: 20%;

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
                .screen2Char {
                    /* background-color: burlywood; */
                    height: 80%;
                    width: 100%;

                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }
                    .screen2CharImg{
                        height: 100%;
                        width: 100%;
                    }
                .sreen2CharTitle {
                    /* background-color: chartreuse; */
                    height: 10%;
                    width: 100%;

                    font-family: 'ICBM SS-25', sans-serif;
                    font-family: 'ICBM SS-20', sans-serif;
                    font-size: 1.5vw;

                    /* width: 1em; */
                    color: white;

                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-around;
                }
        .screen2CharactersStats{
            /* background-color: yellow; */
            height: 50%;
            width: 80%;

            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            
        }
            #screen2Character1Stats {
                border-style: double;
                /* border-color: rgb(41, 41, 231); */
                background-color: rgb(75, 83, 32);
                height: 100%;
                width: 20%;
                border-radius: 10%;

                display: flex;
                flex-direction: column;
                text-align:center;
                align-items: center;

                font-family: 'ICBM SS-25', sans-serif;
                font-family: 'ICBM SS-20', sans-serif;

                font-size: 1.3vw;
            }
            #screen2Character2Stats {
                border-style: double;
                /* border-color: rgb(41, 41, 231); */
                background-color: rgb(75, 83, 32);
                height: 100%;
                width: 20%;
                border-radius: 10%;

                display: flex;
                flex-direction: column;
                text-align:center;
                align-items: center;

                font-family: 'ICBM SS-25', sans-serif;
                font-family: 'ICBM SS-20', sans-serif;

                font-size: 1.3vw;
            }
            #screen2Character3Stats {
                border-style: double;
                /* border-color: rgb(41, 41, 231); */
                background-color: rgb(75, 83, 32);
                height: 100%;
                width: 20%;
                border-radius: 10%;

                display: flex;
                flex-direction: column;
                text-align:center;
                align-items: center;

                font-family: 'ICBM SS-25', sans-serif;
                font-family: 'ICBM SS-20', sans-serif;

                font-size: 1.3vw;
            }
            #screen2Character4Stats {
                border-style: double;
                /* border-color: rgb(41, 41, 231); */
                background-color: rgb(75, 83, 32);
                height: 100%;
                width: 20%;
                border-radius: 10%;

                display: flex;
                flex-direction: column;
                text-align:center;
                align-items: center;

                font-family: 'ICBM SS-25', sans-serif;
                font-family: 'ICBM SS-20', sans-serif;

                font-size: 1.3vw;
            }
            
        .screen2NextButton {
            /* background-color: violet; */
            margin-right: 2%;
            height: 10%;
            width: 100%;

            font-size: 2vw;
            /* border-style: groove; */

            display: flex;
            flex-direction: column;
            text-align:right;
            align-items: bottom;

            font-family: 'ICBM SS-25', sans-serif;
            font-family: 'ICBM SS-20', sans-serif;
            
        }

.screen4Section {
    background-color: grey;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
    .topVoid {
        background-color: rgb(0, 153, 255);
        height: 20%;
        width: 100%;

        background-image: url('../img/skyTexture.png');
        background-size: 10% 100%;

        z-index: 1;
    }
    .topWall {
        /* background-color: orangered; */
        height: 10%;
        width: 100%;
        
        background-image: url('../img/brickWallTexture.png');
        background-size: 20% 100%;

        z-index: 3;

    }
        .character2L{
            height: 30%;
            width: 20%;
            position: absolute;
            top: 0%;

            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);

            z-index: 2;
        }
        .character2R{
            height: 30%;
            width: 20%;
            position: absolute;
            top: 0%;

            z-index: 2;

        }
        .character2img {
            height: 100%;
            width: 100%;
            /* width: 10eme; */
        }

    .centerVoid {
        background-color: peru;
        height: 30%;
        width: 100%;
    }
        .stats{
            background-color: white;
            height: 20%;
            width: 100%;

            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            border-radius: 20%;
            background-color: peru;
        }
            .statsItem2 {
                font-family: 'ICBM SS-25', sans-serif;
                font-family: 'ICBM SS-20', sans-serif;

                font-size: 3vw;
                color: red;
                -webkit-text-stroke: 2px black;
    
            }
            .statsItem1 {
                font-family: 'ICBM SS-25', sans-serif;
                font-family: 'ICBM SS-20', sans-serif;

                font-size: 3vw;
                color: rgb(0, 115, 255);
                -webkit-text-stroke: 2px black;
                margin-bottom: 1%;
            }
        .emptyStats {
            background-color: peru;
        }
    .bottomWall {
        height: 40%;
        width: 100%;

        background-image: url('../img/brickPlayerTexture.png');
    }

    .character1L{
        height: 50%;
        width: 20%;
        position: absolute;
        bottom: 0em;
        /* background-color: white; */
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }
    .character1R{
        height: 50%;
        width: 25%;
        position: absolute;
        bottom: 0em;
        /* background-color: white; */
    }
    .character1img {
        height: 100%;
        width: 100%;
        /* width: 10eme; */
    }