body {
    /* background-color: blue; */
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    cursor:url('../img/sight.cur'), pointer;
}

cursor {
    opacity:0.4;
filter:alpha(opacity=40);
}

.screen1Section {
    background-color: black;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    .screen1Main {
        background-color: grey;
        height: 80%;
        width: 80%;

        border-style: solid;
        border-color: white;
        border-width: 1em;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
        .screen1MainBox {
            height: 80%;
            width: 75%;
            border-style: dotted;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
            .screen1MainBoxTitle {
                /* background-color: green; */
                height: 50%;
                width: 100%;
                font-family: 'Exoplanet', sans-serif;
                font-size: 5em;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            .screen1MainBoxSelection {
                /* background-color: rgb(236, 0, 0); */
                height: 50%;
                width: 100%;
                font-family: 'Hussar Woodtype', sans-serif;
                                                


                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

.screen2Section {
    background-color: grey;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
    .topVoid {
        background-color: rgb(0, 153, 255);
        height: 20%;
        width: 100%;

        background-image: url('../img/skyTexture.png');
        background-size: 10% 100%;

        z-index: 1;
    }
    .topWall {
        /* background-color: orangered; */
        height: 10%;
        width: 100%;
        
        background-image: url('../img/brickWallTexture.png');
        background-size: 20% 100%;

        z-index: 3;

    }
        .character2L{
            height: 30%;
            width: 20%;
            position: absolute;
            top: 0%;

            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);

            z-index: 2;
        }
        .character2R{
            height: 30%;
            width: 20%;
            position: absolute;
            top: 0%;

            z-index: 2;

        }
        .character2img {
            height: 100%;
            width: 100%;
            /* width: 10eme; */
        }

    .centerVoid {
        background-color: peru;
        height: 30%;
        width: 100%;
    }
        .stats{
            background-color: white;
            height: 20%;
            width: 100%;

            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            border-radius: 20%;
            background-color: peru;
        }
            .statsItem {
                font-family: 'Exoplanet', sans-serif;
                font-size: 3vw;
                color: red;
                -webkit-text-stroke: 1px black;
            }
        .emptyStats {
            background-color: peru;
        }
    .bottomWall {
        height: 40%;
        width: 100%;

        background-image: url('../img/brickPlayerTexture.png');
    }

    .character1L{
        height: 50%;
        width: 20%;
        position: absolute;
        bottom: 0em;
        /* background-color: white; */
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }
    .character1R{
        height: 50%;
        width: 25%;
        position: absolute;
        bottom: 0em;
        /* background-color: white; */
    }
    .character1img {
        height: 100%;
        width: 100%;
        /* width: 10eme; */
    }